// Colors
$bueBackground: linear-gradient(to bottom, #0167ff, #019AFF); 
$bueYellow: #ffc401;
$bueBlue: #019AFF; 
$bueNightColor: rgb(31, 31, 31);
$bueNightColor2:rgb(47, 47, 47);
$bueLightColor: rgb(255, 255, 255);
$bueGray: rgb(77, 77, 77);

// Fonts
$bueFontTitle: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


// ComponentConfig
// @mixin componentConfig($colorBg) {
//     height: 65vh;
//     display: flex;
//     justify-content: center;
//     background: $colorBg ,$bueBackground ;
//     align-items: center;
//     cursor: default;
// }

// Buttons
@mixin bueButton(){
    cursor: pointer;
    color: white;
    background-color: #ffc401;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    border: none;
    font-size: 18px;
    border-radius: 5px;
    height: 55px;
    width: 160px;

    &:hover {
        transition: .3s ease-out;
    }
}

// @mixin bueBack() {
//     text-decoration: none;
//     color: white;
//     font-size: 60px;
//     cursor: pointer;
//     background: none;
//     border: none;
//     margin-top: -20px;

//     &:hover {
//         color: $bueYellow;
//         scale: 1.3;
//         transition: .5s ease-out;
//     }
// }



