@import "../Vars/vars.scss";

.Menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
        color: $bueGray;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        // justify-content: center;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    li {
        color: $bueGray;
        cursor: pointer;
    }

    .menu-item {
        width: 30%;
        text-decoration: none;
        list-style: none;
        color: $bueGray;
        background-color: $bueYellow;
        padding: 15px;
        font-size: 20px;
        border-radius: 10px;
    }

    .menu-item:hover {
        color: white;
    }
}